 <div class="container-fluid">

 <div class="row">
 	<img src="{{ image_src }} alt='logo">
 </div>

 <div class="row">
<h3>Votre devis a bien été reçu!</h3>

<p>Bonjour ,
nous avour bien  reçu votre demande de devis !</br>
Nous vous donnerons une réponse dans les 24h .</br>


Merci de nous avoir contacté.</br>

Optic at home
</p>

