
<h3>Votre devis a bien été reçu!</h3>

{# example, assuming you have a route named "login" #}
Nous vous donnerons une réponse dans les 24h


Merci de nous avoir contacté.

Optic at home

{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}">#}