{# src/OAH/NewsBundle/Resources/views/News/ajouter.html.twig #}

{% extends "OAHNewsBundle::OAH_layout.html.twig" %}

{% block title %}
	Ajouter un article - {{ parent() }}
{% endblock %}



{% block body_news %}

<script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>

	{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
	{% endfor %}


<p>

<h2>Ajouter un article :</h2>

	{% include "OAHNewsBundle:News:formulaire.html.twig" %}

<p>
	{% for flashMessage in app.session.flashbag.get('info') %}
    	<div class="flash-notice">
        	{{ flashMessage }}
    	</div>
	{% endfor %}
</p>

<p>
	<a href="{{ path('OAHNews_accueil')}}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour aux news
	</a>
</p>

{% endblock %}
