
  {% for categorie in listCategories %}
    <li >
      <a class="normalLink" href="{{ path('OAHNews_categorie', {'slug': categorie.slug}) }}">
        {{ categorie.nom }}
      </a>
    </li>
  {% endfor %}