@font-face {
font-family: 'Glyphicons Halflings';
src: url('glyphicons-halflings-regular.eot');
src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#header {
	width : 100% ;
	margin-top : 28px;
	padding-right : -15px ;
	padding-left : -15px;
	margin-bottom : 20px;
	}

	#titre_site {
	color : white ;
	}
	
	.navbar-nav {
	rgb(148,125,93) ;
	}
	
	.jumbotron {
	box-shadow : 0px 5px 4px grey ;
	background-color: #000;
	}
	
	.blocgris {
	background-color : rgb(148,125,93) ;
	margin-left : -15px;
	margin-right : -15px;
	padding-bottom : 50px;
	padding-top : 30px ;
	padding-left : 15px;
	padding-right :15px;	
	}
	
	.blocgris h1  {
	color : white ;
	font-size : 40px;
	}
	
	.blocgris p {
	color : white;
	font-size : 20px;
	}
	
	.blocblanc {
	background-color : white ;
	margin-left : -15px;
	margin-right : -15px;
	padding-bottom : 50px;
	padding-top : 30px ;
	padding-left : 15px;
	padding-right :15px;
	}
	
	.blocblanc h1  {
	color : rgb(148,125,93) ;
	font-size : 40px;
	}
	
	.blocblanc p {
	color : rgb(148,125,93);
	font-size : 20px;
	}
	
	.produits {
	border-bottom : 1px solid rgb(148,125,93);
	margin-bottom : 15px;
	padding-bottom : 15px;
	}
	
    a {
	color : black;
	}
	
	a:hover {
	text-decoration : underline ;
	color : black;
	}
	
	.prix {
	font-size : 1em;
	}
	
	strong {
	font-size : 1em;
	}
	
	h1 {
	padding-top : 20px;
	}
	
	img {
		width : 100% ;
		}
	
	body {
	font-family:'bitter' ,"Times New Roman", Verdana, sans-serif;
	background-color : rgb(68,68,68) ;
	padding-top : 20px;
	}
	
	
	.concept {
	padding-top : 30px;
	}
	
	footer {
	margin-left : 0px;
	margin-right : -15px;
	margin-bottom :0px;
	padding-top: 15px;
	padding-left : -15px;
	padding-bottom : 15px;
	background-color : #eee;
	}
	
	.mentions {
	background-color : #eee;
	}
	
	.marques {
	padding-top : 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom : -20px;
	margin-top:15px;
	border-top : 1px solid grey;
	}
	
	p {
	word-break :normal ;
	}
	
	
	.accueil {
	background-color : white ;
	}
	
	.btn-custom {
  background-color: hsl(0, 100%, 100%) !important;
  color: rgb(148,125,93) !important;
  -webkit-font-smoothing: antialiased;
}

 .btn-menu a {
 	color : rgb(148,125,93) !important;
 	background-color : white;
 }

 .btn-menu a:hover {
 	color : rgb(148,125,93) !important;
 	background-color : white;
 	text-decoration: none;
 }

 .btn-deco a {
 	color : white;
 }

 .btn-deco a:hover {
 	color: white;
 	text-decoration: none;
 }

    #oah_devisbundle_devis_save {
    background-color: hsl(0, 100%, 100%) !important;
  color: rgb(148,125,93) !important;
  -webkit-font-smoothing: antialiased;	
    }

    .control-label {
    	color:white;
    }

    .cropit-image-preview {
	/* You can specify preview size in CSS */
	width: 600px;
	height: 390px ;
	cursor: move;
	background-color:white;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.btn-menu {
border-top : 1px solid rgb(148,125,93);
background-color : white;
}
	    
  @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }