{# src/OAH/NewsBundle/Resources/views/OAH_layout.html.twig #}
	
{% extends "OAHCoreBundle:Core:layout.html.twig" %}
		
		{% block navigation %}
		<li><a class="normalLink" href="{{path('oah_core_homepage')}}"> Optic At Home</a></li>
		{% endblock %}

	
		{% block body %}
		
	<div class="container">	
		<div class="row">
			<div class="col-md-3">
				{{ render(controller("OAHNewsBundle:News:menu")) }}
			</div>
			
			<div class="col-md-9">
				{% block body_news %}
				{% endblock %}
				
			</div>
		</div>	
	</div>		
		
		{% endblock %}
		
