{# src/OAH/NewsBundle/Resources/views/OAH_layout.html.twig #}
	
{% extends "OAHCoreBundle:Core:layout.html.twig" %}
		
		{% block subtitle %}
		<span class="subheading">Le blog</span>
		{% endblock %}


		{% block navigation %}
		<li><a class="normalLink" href="{{path('oah_core_homepage')}}"> Optic At Home</a></li>
		{{ render(controller("OAHNewsBundle:News:menu")) }}
		{% endblock %}

	
		{% block body %}
		
	<div class="container-fluid">	
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				{% block body_news %}
				{% endblock %}	
			</div>
		</div>	
	</div>		
		
		{% endblock %}
		
